Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

django-check:
  name: Django Check
  entry: python manage.py check
  language: system
  pass_filenames: false

pytest-with-coverage:
  name: Tests with Coverage
  entry: pytest
  language: system
  args:
  - --cov=django_email_learning
  - --cov-fail-under=80
  - tests/
  pass_filenames: false
  stages:
  - pre-push

precommit fixes
  .github/agents/my-agent.agent.md
  frontend/package-lock.json
Due: none

feat: #2 add Makefile and replace vite template tags with frontend assets for the build command
  Makefile
  django_email_learning/static/README
  django_email_learning/templates/platform/index.html
  django_email_learning/templates/platform/users.html
  pyproject.toml
  scripts/build.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #2 use the original template content in the build when replacing the vite tags
  scripts/build.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: Add extra check for imap server ownership when creating a course
  django_email_learning/api/serializers.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: correction for placement of the classifiers in the pyproject file
  pyproject.toml
Due: none

docs: #30 Add description of the django-app in the README file
  README.md
Due: none

Update version
  pyproject.toml
Due: none

Add repository url to pyproject
  pyproject.toml
Due: none

Update dependencies
  frontend/package-lock.json
  poetry.lock
  pyproject.toml
Due: none

Fix pytest filterwarnings
  pyproject.toml
Due: none

Add initial workflow for PR
  .github/workflows/pr-check.yml
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Add initial workflow for PR
  .github/workflows/pr-check.yml
Due: none

feat: #28 Add BlockedEmail model
  django_email_learning/admin.py
  django_email_learning/migrations/0002_blockedemail_alter_imapconnection_port.py
  django_email_learning/models.py
  tests/test_models/conftest.py
  tests/test_models/test_blocked_email.py
Due: bandit, mypy, django-check, pytest-with-coverage

Refine project description in README.md
  README.md
Due: none

docs: #29 add CONTRIBUTING.md file
  CONTRIBUTING.md
  pyproject.toml
Due: none

Add Contributing to README file
  README.md
Due: none

Update library version
  pyproject.toml
Due: none

fix: #46 remove vite tags from the built base template
  pyproject.toml
  scripts/build.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #46 fix build script
  pyproject.toml
  scripts/build.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #19 add waiting_period field for the CourseContent model
  django_email_learning/migrations/0003_coursecontent_waiting_period.py
  django_email_learning/models.py
  tests/test_models/test_course_content.py
Due: bandit, mypy, django-check, pytest-with-coverage

Add FUNDING.yaml
  .github/FUNDING.yml
Due: none

build: #57 test supported python versions in pipeline
  .github/workflows/pr-check.yml
  README.md
  pyproject.toml
Due: none

Add sponsorship to README
  README.md
Due: none

USe absolute urls in README
  README.md
Due: none

feat: #16 add models for learner, enrollment and sent_item
  django_email_learning/migrations/0004_learner_enrollment_sentitem.py
  django_email_learning/migrations/0005_alter_learner_email.py
  django_email_learning/migrations/0006_enrollment_unique_active_enrollment.py
  django_email_learning/migrations/0007_remove_sentitem_sent_at_sentitem_recorded_at.py
  django_email_learning/migrations/0008_eventtimestamp_alter_sentitem_unique_together_and_more.py
  django_email_learning/models.py
  tests/test_models/conftest.py
  tests/test_models/test_enrollment.py
  tests/test_models/test_learner.py
  tests/test_models/test_sent_item.py
Due: bandit, mypy, django-check, pytest-with-coverage

chore: cleanup migration files
  django_email_learning/migrations/0001_initial.py
  django_email_learning/migrations/0002_blockedemail_alter_imapconnection_port.py
  django_email_learning/migrations/0003_coursecontent_waiting_period.py
  django_email_learning/migrations/0004_learner_enrollment_sentitem.py
  django_email_learning/migrations/0005_alter_learner_email.py
  django_email_learning/migrations/0006_enrollment_unique_active_enrollment.py
  django_email_learning/migrations/0007_remove_sentitem_sent_at_sentitem_recorded_at.py
  django_email_learning/migrations/0008_eventtimestamp_alter_sentitem_unique_together_and_more.py
  django_email_learning/models.py
Due: bandit, mypy, django-check, pytest-with-coverage

chore: home page for the sample development service
  django_service/settings.py
  django_service/templates/django_service/home.html
  django_service/urls.py
Due: mypy, django-check, pytest-with-coverage

feat: #17 add QuizSubmission model
  django_email_learning/migrations/0001_initial.py
  django_email_learning/models.py
  tests/test_models/conftest.py
  tests/test_models/test_quiz_submission.py
  tests/test_models/test_sent_item.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #18 API endpoint for create course content (Lesson/Quiz)
  django_email_learning/api/serializers.py
  django_email_learning/api/urls.py
  django_email_learning/api/views.py
  django_email_learning/models.py
  tests/api/test_views/test_course_content_view.py
  tests/test_models/test_course_content.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #20 Add GET method for course content API to list quiz and lesson summary
  CONTRIBUTING.md
  django_email_learning/api/serializers.py
  django_email_learning/api/views.py
  django_email_learning/models.py
  pyproject.toml
  tests/api/test_views/test_course_content_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #73 support Django 6
  .github/workflows/pr-check.yml
  poetry.lock
  pyproject.toml
Due: none

feat: #21 delete course content API
  django_email_learning/api/urls.py
  django_email_learning/api/views.py
  tests/api/test_views/test_course_content_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #22 Course page template view (without frontend component)
  django_email_learning/platform/urls.py
  django_email_learning/platform/views.py
  django_email_learning/templates/platform/base.html
  django_email_learning/templates/platform/course.html
  tests/api/conftest.py
  tests/conftest.py
  tests/platform/__init__.py
  tests/platform/test_views/test_course_details_view.py
  tests/platform/test_views/test_courses_view.py
  tests/test_models/conftest.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #22 fix course link in the courses list
  frontend/courses/Courses.jsx
  tests/conftest.py
Due: django-check, pytest-with-coverage

feat: #77 API view to get a single course content
  django_email_learning/api/views.py
  tests/api/test_views/test_course_content_view.py
  tests/conftest.py
Due: bandit, mypy, django-check, pytest-with-coverage

Add logo for documents
  assets/Django2@2x.png
Due: none

Add logo to the README file
  README.md
Due: none

feat: #23 frontend UI for course page (PR1)
  django_email_learning/api/serializers.py
  django_email_learning/api/urls.py
  django_email_learning/api/views.py
  django_email_learning/platform/views.py
  django_email_learning/static/logo.png
  django_email_learning/templates/platform/base.html
  django_email_learning/templates/platform/course.html
  django_service/settings.py
  django_service/static/src/assets/logo.png
  django_service/static/src/assets/logo2.png
  django_service/templates/django_service/home.html
  django_service/urls.py
  frontend/course/Course.jsx
  frontend/course/components/ContentTable.jsx
  frontend/course/components/LessonForm.jsx
  frontend/course/components/QuestionForm.jsx
  frontend/course/components/QuizForm.jsx
  frontend/course/index.html
  frontend/course/styles.scss
  frontend/courses/Courses.jsx
  frontend/courses/components/AddImapConnectionForm.jsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/components/Base.jsx
  frontend/src/components/ContentEditor.jsx
  frontend/src/components/MenuBar.jsx
  frontend/src/components/RequiredTextField.jsx
  frontend/src/render.jsx
  frontend/vite.config.js
  tests/api/test_views/test_lesson_view.py
  tests/platform/test_views/test_course_details_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Path conditions:
  bandit: any of: \.py$, but not: ^(tests/|migrations/|django_service)
  mypy: any of: \.py$, but not: ^(tests/|migrations/)
  django-check: any of: \.py$
  pytest-with-coverage: any of: \.py$
