Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

django-check:
  name: Django Check
  entry: python manage.py check
  language: system
  pass_filenames: false

pytest-with-coverage:
  name: Tests with Coverage
  entry: pytest
  language: system
  args:
  - --cov=django_email_learning
  - --cov-fail-under=80
  - tests/
  pass_filenames: false
  stages:
  - pre-push

Release 5.5.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fix MultipleObjectsReturned when enrolling a learner with a prior deactivated enrollment
  django_email_learning/platform/api/views/learners.py
  tests/platform/api/test_views/test_enrollments_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 5.5.1
  CHANGELOG.md
  pyproject.toml
Due: none

Require a human confirmation for course unsubscribe
  django_email_learning/personalised/views.py
  frontend/personalised/command_result/CommandResult.jsx
  frontend/src/test/CommandResult.test.jsx
  tests/personalised/test_views/test_unsubscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 5.5.2
  CHANGELOG.md
  pyproject.toml
Due: none

Require a human confirmation for course unsubscribe (#818)
  CHANGELOG.md
  django_email_learning/personalised/views.py
  frontend/personalised/command_result/CommandResult.jsx
  frontend/src/test/CommandResult.test.jsx
  pyproject.toml
  tests/personalised/test_views/test_unsubscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Don't require Sec-Fetch-User for unsubscribe; put checkbox on one line
  CHANGELOG.md
  django_email_learning/personalised/views.py
  frontend/personalised/command_result/CommandResult.jsx
  tests/personalised/test_views/test_unsubscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 5.5.3
  CHANGELOG.md
  pyproject.toml
Due: none

Add per-course "From" address, unified with newsletter sending
  django_email_learning/jobs/deactivate_inactive_enrollments_job.py
  django_email_learning/jobs/send_newsletters_job.py
  django_email_learning/migrations/0022_course_from_email_type.py
  django_email_learning/models/__init__.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/models/enums/from_email_type.py
  django_email_learning/models/organizations.py
  django_email_learning/personalised/api/views.py
  django_email_learning/platform/api/serializers/courses.py
  django_email_learning/platform/api/views/courses.py
  django_email_learning/platform/views/base.py
  django_email_learning/platform/views/courses.py
  django_email_learning/scripts/setup_dev.py
  django_email_learning/services/command_models/enroll_command.py
  django_email_learning/services/command_models/send_assignment_command.py
  django_email_learning/services/command_models/send_assignment_reminder_command.py
  django_email_learning/services/command_models/send_assignment_review_command.py
  django_email_learning/services/command_models/send_lesson_command.py
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/services/command_models/send_quiz_reminder_command.py
  django_email_learning/services/command_models/verify_enrollment_command.py
  django_email_learning/services/email_sender_service.py
  django_service/settings.py
  docs/source/installation.rst
  docs/source/platform/courses.rst
  docs/source/platform/newsletters.rst
  frontend/platform/courses/components/CourseForm.jsx
  tests/jobs/test_send_newsletters_job.py
  tests/models/test_course.py
  tests/models/test_organization.py
  tests/personalised/api/test_views/test_quiz_submission.py
  tests/platform/api/test_views/test_course_view.py
  tests/services/command_models/test_send_lesson_command.py
  tests/services/test_email_sender_service.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 6.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: remove unused @types/react and @types/react-dom devDependencies (#824)
  frontend/package-lock.json
  frontend/package.json
Due: none

Release 6.0.1
  CHANGELOG.md
  django_email_learning/jobs/send_reminders_job.py
  django_email_learning/migrations/0023_contentdelivery_reminder_count_and_more.py
  django_email_learning/models/course_contents.py
  django_email_learning/models/deliveries.py
  django_email_learning/personalised/api/views.py
  django_email_learning/platform/views/courses.py
  django_email_learning/services/command_models/send_assignment_reminder_command.py
  django_email_learning/services/command_models/send_quiz_reminder_command.py
  pyproject.toml
  tests/jobs/test_send_reminders_job.py
  tests/models/test_content_delivery.py
  tests/personalised/api/test_views/test_quiz_submission.py
Due: bandit, mypy, django-check, pytest-with-coverage

Guard course-content deletion and stop stranding learners on unpublish
  CHANGELOG.md
  django_email_learning/jobs/deliver_contents_job.py
  django_email_learning/models/course_contents.py
  django_email_learning/platform/api/views/courses.py
  tests/jobs/test_deliver_content_jobs.py
  tests/models/test_course_content.py
  tests/platform/api/test_views/test_course_content_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Surface course-content delete failures in the course page UI
  CHANGELOG.md
  django_email_learning/models/course_contents.py
  django_email_learning/platform/views/courses.py
  frontend/platform/course/Course.jsx
  frontend/src/test/platform/Course.test.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

Guard course-content deletion; stop stranding learners on unpublish (#833)
  CHANGELOG.md
  django_email_learning/jobs/deliver_contents_job.py
  django_email_learning/models/course_contents.py
  django_email_learning/platform/api/views/courses.py
  django_email_learning/platform/views/courses.py
  frontend/platform/course/Course.jsx
  frontend/src/test/platform/Course.test.jsx
  tests/jobs/test_deliver_content_jobs.py
  tests/models/test_course_content.py
  tests/platform/api/test_views/test_course_content_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 6.0.2
  CHANGELOG.md
  pyproject.toml
Due: none

Add per-course organization branding in email footers
  CHANGELOG.md
  django_email_learning/jobs/deactivate_inactive_enrollments_job.py
  django_email_learning/migrations/0024_course_show_organization_footer.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/serializers/courses.py
  django_email_learning/platform/views/courses.py
  django_email_learning/services/command_models/enroll_command.py
  django_email_learning/services/command_models/send_assignment_command.py
  django_email_learning/services/command_models/send_assignment_reminder_command.py
  django_email_learning/services/command_models/send_assignment_review_command.py
  django_email_learning/services/command_models/send_lesson_command.py
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/services/command_models/send_quiz_reminder_command.py
  django_email_learning/services/command_models/verify_enrollment_command.py
  django_email_learning/services/email_sender_service.py
  django_email_learning/templates/emails/_organization_footer.html
  django_email_learning/templates/emails/_social_icons.html
  django_email_learning/templates/emails/base.html
  django_email_learning/templates/emails/lesson.html
  django_email_learning/templates/emails/newsletter_sendout.html
  frontend/platform/courses/components/CourseForm.jsx
  frontend/src/test/platform/CourseForm.test.jsx
  tests/models/test_course.py
  tests/platform/api/test_views/test_course_view.py
  tests/services/test_email_footer.py
Due: bandit, mypy, django-check, pytest-with-coverage

Render email footer social links as text, not icons
  CHANGELOG.md
  django_email_learning/templates/emails/_organization_footer.html
  django_email_learning/templates/emails/_social_icons.html
  django_email_learning/templates/emails/_social_links.html
  django_email_learning/templates/emails/base.html
  django_email_learning/templates/emails/newsletter_sendout.html
  django_service/views.py
  tests/jobs/test_send_newsletters_job.py
  tests/services/test_email_footer.py
Due: mypy, django-check, pytest-with-coverage

Email footer: plain-text org name, more space above social links
  django_email_learning/services/email_sender_service.py
  django_email_learning/templates/emails/_organization_footer.html
  django_email_learning/templates/emails/base.html
  django_service/views.py
  tests/services/test_email_footer.py
Due: bandit, mypy, django-check, pytest-with-coverage

Move email footer credit into an overridable base block
  CHANGELOG.md
  django_email_learning/templates/emails/base.html
  django_email_learning/templates/emails/lesson.html
  django_email_learning/templates/emails/newsletter_sendout.html
  tests/jobs/test_send_newsletters_job.py
  tests/services/test_email_footer.py
Due: django-check, pytest-with-coverage

Show the organization logo above the name in the email footer
  CHANGELOG.md
  django_email_learning/services/email_sender_service.py
  django_email_learning/templates/emails/_organization_footer.html
  django_email_learning/templates/emails/base.html
  django_service/views.py
  tests/services/test_email_footer.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 6.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

Per-course organization branding in email footers (#834)
  CHANGELOG.md
  django_email_learning/jobs/deactivate_inactive_enrollments_job.py
  django_email_learning/migrations/0024_course_show_organization_footer.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/serializers/courses.py
  django_email_learning/platform/views/courses.py
  django_email_learning/services/command_models/enroll_command.py
  django_email_learning/services/command_models/send_assignment_command.py
  django_email_learning/services/command_models/send_assignment_reminder_command.py
  django_email_learning/services/command_models/send_assignment_review_command.py
  django_email_learning/services/command_models/send_lesson_command.py
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/services/command_models/send_quiz_reminder_command.py
  django_email_learning/services/command_models/verify_enrollment_command.py
  django_email_learning/services/email_sender_service.py
  django_email_learning/templates/emails/_organization_footer.html
  django_email_learning/templates/emails/_social_links.html
  django_email_learning/templates/emails/base.html
  django_email_learning/templates/emails/lesson.html
  django_email_learning/templates/emails/newsletter_sendout.html
  django_service/views.py
  frontend/platform/courses/components/CourseForm.jsx
  frontend/src/test/platform/CourseForm.test.jsx
  pyproject.toml
  tests/jobs/test_send_newsletters_job.py
  tests/models/test_course.py
  tests/platform/api/test_views/test_course_view.py
  tests/services/test_email_footer.py
Due: bandit, mypy, django-check, pytest-with-coverage

Injection-hardening validation for organization and course names
  CHANGELOG.md
  django_email_learning/migrations/0025_alter_course_title_alter_organization_name.py
  django_email_learning/models/courses.py
  django_email_learning/models/organizations.py
  django_email_learning/models/validators.py
  django_email_learning/platform/api/serializers/organisations.py
  django_email_learning/platform/views/organisations.py
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/src/test/platform/OrganizationForm.test.jsx
  tests/models/test_course.py
  tests/models/test_organization.py
  tests/models/test_validators.py
  tests/platform/api/test_views/test_organizations_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Relax URL check to http(s):// only
  CHANGELOG.md
  django_email_learning/models/validators.py
  tests/models/test_course.py
  tests/models/test_organization.py
  tests/models/test_validators.py
  tests/platform/api/test_views/test_organizations_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Move changelog entry to its own Unreleased section
  CHANGELOG.md
Due: none

Injection-hardening validation for organization and course names (#842)
  CHANGELOG.md
  django_email_learning/migrations/0025_alter_course_title_alter_organization_name.py
  django_email_learning/models/courses.py
  django_email_learning/models/organizations.py
  django_email_learning/models/validators.py
  django_email_learning/platform/api/serializers/organisations.py
  django_email_learning/platform/views/organisations.py
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/src/test/platform/OrganizationForm.test.jsx
  tests/models/test_course.py
  tests/models/test_organization.py
  tests/models/test_validators.py
  tests/platform/api/test_views/test_organizations_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 7.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

Recover from a stale active_organization_id instead of 500ing
  CHANGELOG.md
  django_email_learning/platform/views/base.py
  tests/platform/test_views/test_base_platform_view_context.py
Due: bandit, mypy, django-check, pytest-with-coverage

Recover from a stale active_organization_id instead of 500ing (#843)
  CHANGELOG.md
  django_email_learning/platform/views/base.py
  tests/platform/test_views/test_base_platform_view_context.py
Due: bandit, mypy, django-check, pytest-with-coverage

Release 7.0.1
  CHANGELOG.md
  pyproject.toml
Due: none

npm audit
  frontend/package-lock.json
Due: none

Update @tiptap to 3.31.3 for GHSA-cp6q-959q-f8rh
  frontend/package-lock.json
  frontend/package.json
Due: none

Release 7.0.2
  CHANGELOG.md
  pyproject.toml
Due: none

Upgrade sqlparse vulnerable version
  poetry.lock
Due: none

Release 7.0.3
  CHANGELOG.md
  pyproject.toml
Due: none

Release 7.0.4
  CHANGELOG.md
  pyproject.toml
Due: none

A new Analytics tab in the quiz dialog
  CHANGELOG.md
  django_email_learning/migrations/0026_quizsubmission_asked_question_ids_and_more.py
  django_email_learning/models/submissions.py
  django_email_learning/personalised/api/views.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views/__init__.py
  django_email_learning/platform/api/views/courses.py
  django_email_learning/platform/views/courses.py
  django_email_learning/services/quiz_analytics_service.py
  docs/source/platform/courses.rst
  frontend/platform/course/components/QuizAnalytics.jsx
  frontend/platform/course/components/QuizForm.jsx
  frontend/src/test/platform/QuizAnalytics.test.jsx
  frontend/src/test/platform/QuizFormTabs.test.jsx
  pyproject.toml
  tests/test_quiz_analytics.py
Due: bandit, mypy, django-check, pytest-with-coverage

Extract the course sequence rule into a single service
  CHANGELOG.md
  django_email_learning/models/course_contents.py
  django_email_learning/models/deliveries.py
  django_email_learning/models/enrollments.py
  django_email_learning/services/content_sequence_service.py
  tests/services/test_content_sequence_service.py
Due: bandit, mypy, django-check, pytest-with-coverage

Path conditions:
  bandit: any of: \.py$, but not: ^(tests/|migrations/|django_service)
  mypy: any of: \.py$, but not: ^(tests/|migrations/)
  django-check: any of: \.py$
  pytest-with-coverage: any of: \.py$
