Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

django-check:
  name: Django Check
  entry: python manage.py check
  language: system
  pass_filenames: false

pytest-with-coverage:
  name: Tests with Coverage
  entry: pytest
  language: system
  args:
  - --cov=django_email_learning
  - --cov-fail-under=80
  - tests/
  pass_filenames: false
  stages:
  - pre-push

Add link to inboxacademy
  README.md
  docs/source/introduction.rst
Due: none

Use 410 response for invalid quiz token link
  django_email_learning/personalised/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #310 add course public page
  django_email_learning/public/serializers.py
  django_email_learning/public/urls.py
  django_email_learning/public/views.py
  django_email_learning/templates/public/course.html
  frontend/public/components/EnrollmentForm.jsx
  frontend/public/course/Course.jsx
  frontend/public/organization/Organization.jsx
  scripts/build.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update version
  pyproject.toml
Due: none

fix frontend built
  frontend/public/course/index.html
  frontend/vite.config.js
  pyproject.toml
Due: none

public page style improvement
  django_email_learning/models.py
  django_email_learning/public/serializers.py
  django_email_learning/public/views.py
  frontend/public/components/Layout.jsx
  frontend/public/course/Course.jsx
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

fix enrollment component
  frontend/public/components/EnrollmentForm.jsx
  pyproject.toml
Due: none

get csrf always from cookies in the enrollment form
  frontend/public/components/EnrollmentForm.jsx
  frontend/public/course/Course.jsx
  pyproject.toml
Due: none

force csrf token on public views
  django_email_learning/public/views.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

reload page if missing cookies
  django_email_learning/public/views.py
  frontend/public/components/EnrollmentForm.jsx
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

update version
  frontend/public/components/EnrollmentForm.jsx
  pyproject.toml
Due: none

style: use grid for provider section in public course page
  frontend/public/course/Course.jsx
Due: none

update version
  frontend/package-lock.json
  pyproject.toml
Due: none

feat: #41 implement imap command handler interface
  django_email_learning/admin.py
  django_email_learning/jobs/api/urls.py
  django_email_learning/jobs/api/views.py
  django_email_learning/jobs/check_imap_job.py
  django_email_learning/management/commands/check_imap_connections.py
  django_email_learning/migrations/0003_inboxfolder.py
  django_email_learning/migrations/0004_alter_inboxfolder_imap_connection.py
  django_email_learning/models.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  django_email_learning/ports/imap_interface_protocol.py
  django_email_learning/ports/metric_recorder_protocol.py
  django_email_learning/services/command_models/enroll_command.py
  django_email_learning/services/command_models/send_lesson_command.py
  django_email_learning/services/command_models/unsubscribe_command.py
  django_email_learning/services/defaults/imap_interface.py
  django_email_learning/services/defaults/log_based_metric_recorder.py
  django_email_learning/services/metrics_service.py
  django_email_learning/templates/emails/enrollment_verification.html
  django_email_learning/templates/emails/lesson.html
  django_service/admin.py
  django_service/settings.py
  django_service/views.py
  frontend/platform/courses/components/CourseForm.jsx
  frontend/platform/courses/components/CreateImapForm.jsx
  tests/jobs/api/test_views/test_check_imap_job_view.py
  tests/jobs/imap_interface_mock.py
  tests/jobs/test_check_imap_job.py
  tests/jobs/test_check_imap_job_configuration.py
  tests/platform/api/test_views/test_imap_connection_view.py
  tests/services/defaults/test_imap_interface.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #325 quiz form z-index issue
  frontend/platform/course/components/QuestionForm.jsx
  frontend/platform/course/components/QuizForm.jsx
Due: none

optimize course public page layout
  frontend/public/course/Course.jsx
  pyproject.toml
Due: none

feat: #327 Add target audience and external reference for courses
  django_email_learning/migrations/0005_course_target_audience_externalreference.py
  django_email_learning/models.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  django_email_learning/public/serializers.py
  django_email_learning/public/views.py
  frontend/package-lock.json
  frontend/platform/courses/components/CourseForm.jsx
  frontend/public/course/Course.jsx
  tests/platform/api/test_views/test_course_view.py
  tests/public/test_views/test_public_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #331 show message for enrollment verification
  django_email_learning/public/views.py
  frontend/public/course/Course.jsx
  frontend/public/organization/Organization.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #305 add optional links for organizations
  django_email_learning/migrations/0006_organization_linkedin_page_organization_website_and_more.py
  django_email_learning/models.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
  django_email_learning/public/serializers.py
  django_email_learning/public/views.py
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/public/organization/Organization.jsx
  frontend/src/theme/themes.js
  tests/platform/api/test_views/test_organizations_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #334 add tos config
  django_email_learning/public/views.py
  django_service/settings.py
  docs/source/installation.rst
  frontend/public/components/EnrollmentForm.jsx
  tests/public/test_views/test_public_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

defne template block for body of the public templates
  django_email_learning/templates/public/base.html
  pyproject.toml
Due: none

Remove credit from the public pages
  frontend/public/components/Layout.jsx
  pyproject.toml
Due: none

remove media folders from repository
  django_service/settings.py
  media/organization_logos/AvaCode3.png
  organization_logos/AvaCode3.png
Due: mypy, django-check, pytest-with-coverage

feat: #290 add option to make courses private
  django_email_learning/migrations/0007_course_is_public.py
  django_email_learning/models.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  django_email_learning/public/api/views.py
  django_email_learning/public/views.py
  frontend/platform/courses/Courses.jsx
  frontend/platform/courses/components/CourseForm.jsx
  tests/platform/api/test_views/test_course_view.py
  tests/public/api/test_views/test_enroll_view.py
  tests/public/test_views/test_public_course_view.py
  tests/public/test_views/test_public_organization_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update version
  frontend/package-lock.json
  pyproject.toml
Due: none

Optimise course update frontend request
  frontend/platform/courses/components/CourseForm.jsx
  pyproject.toml
Due: none

Add progress bar while update course form is populated
  frontend/platform/courses/components/CourseForm.jsx
  pyproject.toml
Due: none

Update version
  frontend/platform/courses/components/CourseForm.jsx
  pyproject.toml
Due: none

feat: #363 add option to make organizations private
  django_email_learning/migrations/0008_organization_is_public.py
  django_email_learning/models.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  django_email_learning/public/views.py
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  tests/platform/api/test_views/test_organizations_view.py
  tests/public/test_views/test_public_course_view.py
  tests/public/test_views/test_public_organization_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #365 allow unlimited attempt for quizzes
  django_email_learning/migrations/0009_quiz_limited_attempts.py
  django_email_learning/models.py
  django_email_learning/personalised/api/views.py
  django_email_learning/personalised/views.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  frontend/personalised/quiz_public/Quiz.jsx
  frontend/platform/course/Course.jsx
  frontend/platform/course/components/ContentTable.jsx
  frontend/platform/course/components/QuizForm.jsx
  tests/personalised/test_views/test_quiz_public_view.py
  tests/platform/api/test_views/test_course_content_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #245 Add non blocking quizzes option
  django_email_learning/migrations/0010_quiz_is_blocking.py
  django_email_learning/models.py
  django_email_learning/personalised/api/views.py
  django_email_learning/personalised/views.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  django_email_learning/ports/metric_recorder_protocol.py
  django_email_learning/services/defaults/log_based_metric_recorder.py
  django_email_learning/services/metrics_service.py
  django_email_learning/templates/emails/quiz.html
  django_email_learning/templates/emails/quiz.txt
  django_email_learning/templates/platform/base.html
  frontend/personalised/quiz_public/Quiz.jsx
  frontend/platform/course/Course.jsx
  frontend/platform/course/components/ContentTable.jsx
  frontend/platform/course/components/QuizForm.jsx
  frontend/platform/learners/Learners.jsx
  tests/personalised/api/test_views/test_quiz_submission.py
  tests/platform/api/test_views/test_course_content_view.py
  tests/platform/api/test_views/test_enrollment_api.py
  tests/services/test_metrics_service.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update version - breaking change for metrics protocol
  frontend/package-lock.json
  pyproject.toml
Due: none

feat: #361 allow quizzes with no deadline
  django_email_learning/migrations/0011_alter_quiz_deadline_days.py
  django_email_learning/models.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/course/components/QuizForm.jsx
  tests/platform/api/test_serializers/test_quiz_create.py
Due: bandit, mypy, django-check, pytest-with-coverage

Path conditions:
  bandit: any of: \.py$, but not: ^(tests/|migrations/|django_service)
  mypy: any of: \.py$, but not: ^(tests/|migrations/)
  django-check: any of: \.py$
  pytest-with-coverage: any of: \.py$
