Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: [--configfile, pyproject.toml]
        exclude: ^(tests/|migrations/|django_service)
        pass_filenames: true
        stages: [pre-push]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^(tests/|migrations/)
        require_serial: true

      - id: django-check
        name: Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false
        files: \.py$

      - id: pytest-with-coverage
        name: Tests with Coverage
        entry: pytest
        language: system
        args: [--cov=django_email_learning, --cov-fail-under=80, tests/]
        pass_filenames: false
        files: \.py$
        stages: [pre-push]

fix: use single quotes when patching DIRS in settings.py
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

style: restyle login template to match app design system
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: conditionally add oauth_integrations and ai to INSTALLED_APPS
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: add MEDIA_URL/MEDIA_ROOT to settings and media URL serving to urls.py
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: add type annotation for **kwargs in run() to satisfy mypy
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

chore: exclude scripts/ from test coverage
  pyproject.toml
Due: none

feat: add email backend notice to completion message
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

docs: document django-email-learning-init quick start in README and installation guide
  README.md
  docs/source/installation.rst
Due: none

Update version
  pyproject.toml
Due: none

refactor: nest Google OAuth credentials under GOOGLE key in settings
  django_email_learning/oauth_integrations/group_enrollment/google_group_enrollment_handler.py
  django_email_learning/platform/views.py
  django_email_learning/scripts/setup_dev.py
  django_service/settings.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: rename GOOGLE to GOOGLE_OAUTH and add docs
  django_email_learning/oauth_integrations/group_enrollment/google_group_enrollment_handler.py
  django_email_learning/platform/views.py
  django_email_learning/scripts/setup_dev.py
  django_service/settings.py
  docs/source/installation.rst
Due: bandit, mypy, django-check, pytest-with-coverage

style: apply ruff-format to all files
  django_email_learning/ai/ai_service_protocol.py
  django_email_learning/models/deliveries.py
  django_email_learning/oauth_integrations/group_enrollment/google_group_enrollment_handler.py
  django_email_learning/personalised/api/views.py
  django_email_learning/ports/delivery_queue_protocol.py
  django_email_learning/ports/email_sender_protocol.py
  django_email_learning/ports/imap_interface_protocol.py
  django_email_learning/ports/metric_recorder_protocol.py
  django_service/urls.py
Due: bandit, mypy, django-check, pytest-with-coverage

style: apply ruff-format to remaining files
  manage.py
  tests/conftest.py
  tests/jobs/test_check_imap_job.py
  tests/jobs/test_deactivate_inactive_enrollments_job.py
  tests/jobs/test_deliver_content_jobs.py
  tests/jobs/test_send_reminders_job.py
  tests/management/commands/test_check_imap_connections_command.py
  tests/management/commands/test_deactivate_inactive_enrollments_command.py
  tests/management/commands/test_deliver_contents_command.py
  tests/management/commands/test_send_reminders_command.py
  tests/models/test_quiz.py
  tests/oauth_integrations/test_views.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Fix ruff format errors and npm vulnerabilities
  django_email_learning/ai/ai_service_protocol.py
  django_email_learning/models/deliveries.py
  django_email_learning/personalised/api/views.py
  django_email_learning/ports/delivery_queue_protocol.py
  django_email_learning/ports/email_sender_protocol.py
  django_email_learning/ports/imap_interface_protocol.py
  django_email_learning/ports/metric_recorder_protocol.py
  frontend/package-lock.json
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: use correct OAuth redirect URI in setup script prompt
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: correct double braces in GOOGLE_OAUTH settings block
  django_email_learning/scripts/setup_dev.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: nest Google OAuth credentials under GOOGLE key in settings (#572)
  django_email_learning/oauth_integrations/group_enrollment/google_group_enrollment_handler.py
  django_email_learning/platform/views.py
  django_email_learning/scripts/setup_dev.py
  django_service/settings.py
  django_service/urls.py
  docs/source/installation.rst
  frontend/package-lock.json
  manage.py
  tests/conftest.py
  tests/jobs/test_check_imap_job.py
  tests/jobs/test_deactivate_inactive_enrollments_job.py
  tests/jobs/test_deliver_content_jobs.py
  tests/jobs/test_send_reminders_job.py
  tests/management/commands/test_check_imap_connections_command.py
  tests/management/commands/test_deactivate_inactive_enrollments_command.py
  tests/management/commands/test_deliver_contents_command.py
  tests/management/commands/test_send_reminders_command.py
  tests/models/test_quiz.py
  tests/oauth_integrations/test_views.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: standardise API endpoint paths to plural resource names
  django_email_learning/ai/ai_service_protocol.py
  django_email_learning/models/deliveries.py
  django_email_learning/personalised/api/urls.py
  django_email_learning/personalised/api/views.py
  django_email_learning/platform/api/urls.py
  django_email_learning/ports/delivery_queue_protocol.py
  django_email_learning/ports/email_sender_protocol.py
  django_email_learning/ports/imap_interface_protocol.py
  django_email_learning/ports/metric_recorder_protocol.py
  django_email_learning/public/api/urls.py
  django_service/urls.py
  manage.py
  tests/conftest.py
  tests/jobs/test_check_imap_job.py
  tests/jobs/test_deactivate_inactive_enrollments_job.py
  tests/jobs/test_deliver_content_jobs.py
  tests/jobs/test_send_reminders_job.py
  tests/management/commands/test_check_imap_connections_command.py
  tests/management/commands/test_deactivate_inactive_enrollments_command.py
  tests/management/commands/test_deliver_contents_command.py
  tests/management/commands/test_send_reminders_command.py
  tests/models/test_quiz.py
  tests/oauth_integrations/test_views.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: update frontend hardcoded API paths to plural resource names
  frontend/src/apiClient.js
  frontend/src/components/ImageUpload.jsx
  frontend/src/test/Assignment.test.jsx
  frontend/src/test/Quiz.test.jsx
  frontend/src/test/apiClient.test.js
Due: none

#568: fix ruff format
  django_email_learning/ai/ai_service_protocol.py
  django_email_learning/models/deliveries.py
  django_email_learning/personalised/api/views.py
  django_email_learning/ports/delivery_queue_protocol.py
  django_email_learning/ports/email_sender_protocol.py
  django_email_learning/ports/imap_interface_protocol.py
  django_email_learning/ports/metric_recorder_protocol.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: standardise API endpoint paths to plural resource names (#573)
  django_email_learning/personalised/api/urls.py
  django_email_learning/platform/api/urls.py
  django_email_learning/public/api/urls.py
  frontend/src/apiClient.js
  frontend/src/components/ImageUpload.jsx
  frontend/src/test/Assignment.test.jsx
  frontend/src/test/Quiz.test.jsx
  frontend/src/test/apiClient.test.js
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: standardise API endpoint paths to plural resource names
  django_email_learning/ai/ai_service_protocol.py
  django_email_learning/models/deliveries.py
  django_email_learning/personalised/api/views.py
  django_email_learning/ports/delivery_queue_protocol.py
  django_email_learning/ports/email_sender_protocol.py
  django_email_learning/ports/imap_interface_protocol.py
  django_email_learning/ports/metric_recorder_protocol.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: update LessonForm file upload endpoint to plural path
  frontend/platform/course/components/LessonForm.jsx
Due: none

Refactor/568 plural api paths (#574)
  frontend/platform/course/components/LessonForm.jsx
Due: none

fix: read correct response key for pending assignments count
  frontend/platform/course/Course.jsx
Due: none

fix: read correct response key for pending assignments count (#576)
  frontend/platform/course/Course.jsx
Due: none

fix: update assignment review endpoint to plural path
  frontend/platform/course/components/SubmittedAssignmentsSection.jsx
Due: none

fix: update assignment review endpoint to plural path (#577)
  frontend/platform/course/components/SubmittedAssignmentsSection.jsx
Due: none

feat: add email_opened event to learner enrollment timeline
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/learners/Learners.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

test: add test for email_opened event in enrollment timeline
  tests/platform/api/test_views/test_enrollment_api.py
Due: django-check, pytest-with-coverage

feat: add email_opened event to learner enrollment timeline (#578)
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/learners/Learners.jsx
  tests/platform/api/test_views/test_enrollment_api.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: drop _view suffix from platform API URL names (#569)
  django_email_learning/platform/api/urls.py
  tests/jobs/api/test_views/test_check_imap_job_view.py
  tests/jobs/api/test_views/test_cleanup_job_executions_view.py
  tests/jobs/api/test_views/test_deactivate_inactive_enrollments_job_view.py
  tests/jobs/api/test_views/test_deliver_contents_job_view.py
  tests/jobs/api/test_views/test_send_reminders_job_view.py
  tests/oauth_integrations/test_views.py
  tests/platform/api/test_views/test_api_key_view.py
  tests/platform/api/test_views/test_assignment_submission_detail_view.py
  tests/platform/api/test_views/test_course_content_view.py
  tests/platform/api/test_views/test_course_view.py
  tests/platform/api/test_views/test_enrollment_api.py
  tests/platform/api/test_views/test_enrollment_statistics.py
  tests/platform/api/test_views/test_enrollments_view.py
  tests/platform/api/test_views/test_file_view.py
  tests/platform/api/test_views/test_get_or_create_user_view.py
  tests/platform/api/test_views/test_imap_connection_view.py
  tests/platform/api/test_views/test_job_status_view.py
  tests/platform/api/test_views/test_learner_single_view.py
  tests/platform/api/test_views/test_learners_view.py
  tests/platform/api/test_views/test_organization_user_api.py
  tests/platform/api/test_views/test_organizations_view.py
  tests/platform/api/test_views/test_reorder_course_content_view.py
  tests/platform/api/test_views/test_session_view.py
  tests/platform/api/test_views/test_submitted_assignments_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: drop _view suffix from platform API URL names (#569) (#579)
  django_email_learning/platform/api/urls.py
  tests/jobs/api/test_views/test_check_imap_job_view.py
  tests/jobs/api/test_views/test_cleanup_job_executions_view.py
  tests/jobs/api/test_views/test_deactivate_inactive_enrollments_job_view.py
  tests/jobs/api/test_views/test_deliver_contents_job_view.py
  tests/jobs/api/test_views/test_send_reminders_job_view.py
  tests/oauth_integrations/test_views.py
  tests/platform/api/test_views/test_api_key_view.py
  tests/platform/api/test_views/test_assignment_submission_detail_view.py
  tests/platform/api/test_views/test_course_content_view.py
  tests/platform/api/test_views/test_course_view.py
  tests/platform/api/test_views/test_enrollment_api.py
  tests/platform/api/test_views/test_enrollment_statistics.py
  tests/platform/api/test_views/test_enrollments_view.py
  tests/platform/api/test_views/test_file_view.py
  tests/platform/api/test_views/test_get_or_create_user_view.py
  tests/platform/api/test_views/test_imap_connection_view.py
  tests/platform/api/test_views/test_job_status_view.py
  tests/platform/api/test_views/test_learner_single_view.py
  tests/platform/api/test_views/test_learners_view.py
  tests/platform/api/test_views/test_organization_user_api.py
  tests/platform/api/test_views/test_organizations_view.py
  tests/platform/api/test_views/test_reorder_course_content_view.py
  tests/platform/api/test_views/test_session_view.py
  tests/platform/api/test_views/test_submitted_assignments_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: add explicit related_name to Enrollment foreign keys (#571)
  django_email_learning/migrations/0035_enrollment_related_names.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: add explicit related_name to Enrollment foreign keys (#571) (#580)
  django_email_learning/migrations/0035_enrollment_related_names.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: make certificate optional per course (#246)
  django_email_learning/migrations/0036_course_send_certificate.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/courses/components/CourseForm.jsx
  tests/models/test_enrollment.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: make certificate optional per course (#246) (#581)
  django_email_learning/migrations/0036_course_send_certificate.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/courses/components/CourseForm.jsx
  tests/models/test_enrollment.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: communicate available features from backend to frontend (#582)
  django_email_learning/platform/features.py
  django_email_learning/platform/views.py
  frontend/platform/course/components/EnrollMenu.jsx
  frontend/platform/courses/Courses.jsx
  frontend/src/components/ContentEditor.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

fix: add availableFeatures to Courses tests, remove unused import
  frontend/src/test/platform/Courses.test.jsx
  tests/models/test_enrollment.py
  tests/platform/api/test_views/test_course_view.py
Due: django-check, pytest-with-coverage
