Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: [--configfile, pyproject.toml]
        exclude: ^(tests/|migrations/|django_service)
        pass_filenames: true
        stages: [pre-push]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^(tests/|migrations/)
        require_serial: true

      - id: django-check
        name: Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false
        files: \.py$

      - id: pytest-with-coverage
        name: Tests with Coverage
        entry: pytest
        language: system
        args: [--cov=django_email_learning, --cov-fail-under=80, tests/]
        pass_filenames: false
        files: \.py$
        stages: [pre-push]

fix: #504 ad mising CORS headers for amp quiz handler
  django_email_learning/personalised/api/views.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #504 display quizdata response in amp quiz
  django_email_learning/personalised/api/views.py
  django_email_learning/templates/emails/quiz_amp.html
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

chore: clean up delivery TODO comments
  django_email_learning/jobs/deliver_contents_job.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: widen cryptography upper bound to major version
  pyproject.toml
Due: none

fix: relax cryptography version pin to allow patch releases
  pyproject.toml
Due: none

fix: #497 reset stale RUNNING JobExecution records before starting a new run
  django_email_learning/models/jobs.py
  tests/models/test_job_execution.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: use STALE status for stuck RUNNING records instead of COMPLETED
  django_email_learning/management/commands/cleanup_job_executions.py
  django_email_learning/models/jobs.py
  tests/management/commands/test_cleanup_job_executions_command.py
  tests/models/test_job_execution.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: ruff formatting
  tests/management/commands/test_cleanup_job_executions_command.py
Due: django-check, pytest-with-coverage

fix: #493 defer settings access in jwt_service and send_quiz_command to call time
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/services/jwt_service.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: cast JWT secret to str to satisfy mypy return type
  django_email_learning/services/jwt_service.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #496 extend select_related depth and add prefetch_related in delivery/reminder queues
  django_email_learning/services/defaults/database_delivery_queue.py
  django_email_learning/services/defaults/database_reminder_queue.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: pass chunk_size to iterator() when using prefetch_related
  django_email_learning/services/defaults/database_delivery_queue.py
  django_email_learning/services/defaults/database_reminder_queue.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #495 introduce CourseContentType StrEnum and replace raw string comparisons
  django_email_learning/jobs/deliver_contents_job.py
  django_email_learning/models/__init__.py
  django_email_learning/models/course_contents.py
  django_email_learning/models/enums/course_content_type.py
  django_email_learning/models/submissions.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #391 #429 scope template view auth and context flags to active organization
  django_email_learning/decorators.py
  django_email_learning/platform/views.py
  tests/platform/test_views/test_base_platform_view_context.py
  tests/test_decorators.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #530 add consistent EmptyTableState component across all data tables
  frontend/platform/course/components/ContentTable.jsx
  frontend/platform/courses/Courses.jsx
  frontend/platform/learners/Learners.jsx
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/settings_api_keys/ApiKeys.jsx
  frontend/src/components/EmptyTableState.jsx
  frontend/src/test/EmptyTableState.test.jsx
Due: none

feat: #232 centralise API client to eliminate duplicated fetch/CSRF boilerplate
  frontend/platform/course/Course.jsx
  frontend/platform/course/components/AssignmentForm.jsx
  frontend/platform/course/components/ContentTable.jsx
  frontend/platform/course/components/EnrollMenu.jsx
  frontend/platform/course/components/LessonForm.jsx
  frontend/platform/course/components/QuizForm.jsx
  frontend/platform/course/components/SubmittedAssignmentsSection.jsx
  frontend/platform/courses/Courses.jsx
  frontend/platform/courses/components/AddInstructorsSection.jsx
  frontend/platform/courses/components/CourseForm.jsx
  frontend/platform/courses/components/CreateImapForm.jsx
  frontend/platform/courses/components/CreateInstructorForm.jsx
  frontend/platform/courses/components/DeleteCoursePopup.jsx
  frontend/platform/courses/components/EnableCourseSwitchPopup.jsx
  frontend/platform/learners/Learners.jsx
  frontend/platform/organization/Organization.jsx
  frontend/platform/organization/components/DeleteUserDialog.jsx
  frontend/platform/organization/components/UserForm.jsx
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/platform/settings_api_keys/ApiKeys.jsx
  frontend/public/components/EnrollmentForm.jsx
  frontend/src/apiClient.js
  frontend/src/test/apiClient.test.js
  frontend/src/test/platform/DeleteCoursePopup.test.jsx
  frontend/src/test/platform/DeleteUserDialog.test.jsx
Due: none

feat: #283 filter learners by course and status with progress bar
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  frontend/platform/learners/Learners.jsx
  tests/platform/api/test_views/test_learners_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: align filter bar controls to consistent 40px height
  frontend/platform/learners/Learners.jsx
  tests/platform/api/test_views/test_learners_view.py
Due: django-check, pytest-with-coverage

fix: #535 replace JSON decode/re-encode in LearnersView with Prefetch + serialize_item hook
  django_email_learning/platform/api/pagniated_api_mixin.py
  django_email_learning/platform/api/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

migrations for job new state
  django_email_learning/migrations/0033_alter_jobexecution_status.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #537 add sidebar section labels/dividers and remove Settings accordion
  frontend/src/components/MenuBar.jsx
  frontend/src/test/MenuBar.test.jsx
Due: none

Update version
  pyproject.toml
Due: none

Improve frontend styles and mobile view
  frontend/platform/course/Course.jsx
  frontend/platform/course/components/ContentTable.jsx
  frontend/platform/courses/Courses.jsx
  frontend/platform/learners/Learners.jsx
  frontend/platform/organization/Organization.jsx
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/settings_api_keys/ApiKeys.jsx
  frontend/src/components/Base.jsx
  frontend/src/components/MenuBar.jsx
  frontend/src/components/ThemeSwitcher.jsx
Due: none

feat: UI polish — dark mode, accessibility, and layout improvements
  django_email_learning/platform/views.py
  frontend/platform/course/Course.jsx
  frontend/platform/course/components/AssignmentForm.jsx
  frontend/platform/course/components/ContentTable.jsx
  frontend/platform/course/components/CourseAnalyticsSection.jsx
  frontend/platform/course/components/EnrollMenu.jsx
  frontend/platform/course/components/LessonForm.jsx
  frontend/platform/course/components/QuizForm.jsx
  frontend/platform/course/components/SubmittedAssignmentsSection.jsx
  frontend/platform/courses/Courses.jsx
  frontend/platform/learners/Learners.jsx
  frontend/platform/learners/components/EnrollmentList.jsx
  frontend/platform/organization/Organization.jsx
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/settings_api_keys/ApiKeys.jsx
  frontend/src/components/Base.jsx
  frontend/src/components/ContentEditor.jsx
  frontend/src/components/MenuBar.jsx
  frontend/src/components/ThemeSwitcher.jsx
  frontend/src/theme/themes.js
Due: bandit, mypy, django-check, pytest-with-coverage

fix: reduce main content padding from 40px to 24px on md+ breakpoint
  frontend/src/components/Base.jsx
Due: none

fix custom component for course page
  frontend/platform/course/Course.jsx
Due: none

Improve course page styles
  frontend/platform/course/Course.jsx
  frontend/platform/course/components/ContentTable.jsx
Due: none

Fix progress_percentage not counting the email being sent
  django_email_learning/models/enrollments.py
  django_email_learning/platform/api/views.py
  django_email_learning/services/command_models/send_lesson_command.py
  tests/platform/api/test_views/test_learner_single_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Add email open tracking via opened_at, pixel, and AMP
  django_email_learning/migrations/0034_contentdelivery_opened_at.py
  django_email_learning/models/deliveries.py
  django_email_learning/personalised/urls.py
  django_email_learning/personalised/views.py
  django_email_learning/services/command_models/send_assignment_command.py
  django_email_learning/services/command_models/send_lesson_command.py
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/templates/emails/assignment.html
  django_email_learning/templates/emails/assignment_amp.html
  django_email_learning/templates/emails/lesson.html
  django_email_learning/templates/emails/lesson_amp.html
  django_email_learning/templates/emails/quiz.html
  django_email_learning/templates/emails/quiz_amp.html
Due: bandit, mypy, django-check, pytest-with-coverage

Add tests for TrackOpenView
  tests/personalised/test_views/test_track_open_view.py
Due: django-check, pytest-with-coverage

Add analytics API views for org members
  django_email_learning/analytics/__init__.py
  django_email_learning/analytics/downloads.py
  django_email_learning/analytics/urls.py
  django_email_learning/analytics/views.py
  django_email_learning/urls.py
Due: bandit, mypy, django-check, pytest-with-coverage

Add tests for analytics views
  tests/analytics/__init__.py
  tests/analytics/test_views.py
Due: django-check, pytest-with-coverage

Use Pydantic serializers for analytics JSON responses
  django_email_learning/analytics/serializers.py
  django_email_learning/analytics/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

Add analytics frontend page and sidebar link
  django_email_learning/platform/urls.py
  django_email_learning/platform/views.py
  django_email_learning/templates/platform/analytics.html
  frontend/platform/analytics/Analytics.jsx
  frontend/platform/analytics/index.html
  frontend/src/components/MenuBar.jsx
  frontend/vite.config.js
Due: bandit, mypy, django-check, pytest-with-coverage

Fix blank analytics page — pass required breadCrumbList to Base
  frontend/platform/analytics/Analytics.jsx
Due: none

Fix Analytics blank page — move chart components to module level
  frontend/platform/analytics/Analytics.jsx
Due: none
