Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

django-check:
  name: Django Check
  entry: python manage.py check
  language: system
  pass_filenames: false

pytest-with-coverage:
  name: Tests with Coverage
  entry: pytest
  language: system
  args:
  - --cov=django_email_learning
  - --cov-fail-under=80
  - tests/
  pass_filenames: false
  stages:
  - pre-push

feat: communicate available features from backend to frontend (#583)
  django_email_learning/platform/features.py
  django_email_learning/platform/views.py
  frontend/platform/course/components/EnrollMenu.jsx
  frontend/platform/courses/Courses.jsx
  frontend/src/components/ContentEditor.jsx
  frontend/src/test/platform/Courses.test.jsx
  tests/models/test_enrollment.py
  tests/platform/api/test_views/test_course_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update version
  pyproject.toml
Due: none

#584 test on existing graduation bug
  tests/test_e2e_learner_journey.py
Due: django-check, pytest-with-coverage

fix: graduate enrollment when non-blocking assignment is last content (#584)
  django_email_learning/jobs/deliver_contents_job.py
  tests/test_e2e_learner_journey.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: graduate enrollment when non-blocking assignment is last content (#584) (#585)
  django_email_learning/jobs/deliver_contents_job.py
  tests/test_e2e_learner_journey.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: replace hardcoded English strings with localeMessages (#586)
  django_email_learning/platform/views.py
  frontend/platform/course/components/QuestionForm.jsx
  frontend/platform/course/components/QuizForm.jsx
  frontend/platform/courses/components/AddImapConnectionForm.jsx
  frontend/platform/courses/components/CourseForm.jsx
  frontend/platform/courses/components/CreateImapForm.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/src/test/platform/CreateImapForm.test.jsx
  frontend/src/test/platform/OrganizationForm.test.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

fix: replace hardcoded English strings with localeMessages (#586) (#587)
  django_email_learning/platform/views.py
  frontend/platform/course/components/QuestionForm.jsx
  frontend/platform/course/components/QuizForm.jsx
  frontend/platform/courses/components/AddImapConnectionForm.jsx
  frontend/platform/courses/components/CourseForm.jsx
  frontend/platform/courses/components/CreateImapForm.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/src/test/platform/CreateImapForm.test.jsx
  frontend/src/test/platform/OrganizationForm.test.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

chore: prepare v1.0.0 release (#566)
  CHANGELOG.md
  django_email_learning/migrations/0001_initial.py
  django_email_learning/migrations/0001_initial_squashed_0032_alter_assignmentsubmission_file_submission.py
  django_email_learning/migrations/0033_alter_jobexecution_status.py
  django_email_learning/migrations/0034_contentdelivery_opened_at.py
  django_email_learning/migrations/0035_enrollment_related_names.py
  django_email_learning/migrations/0036_course_send_certificate.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

chore: prepare v1.0.0 release (#566) (#588)
  CHANGELOG.md
  django_email_learning/migrations/0001_initial.py
  django_email_learning/migrations/0001_initial_squashed_0032_alter_assignmentsubmission_file_submission.py
  django_email_learning/migrations/0033_alter_jobexecution_status.py
  django_email_learning/migrations/0034_contentdelivery_opened_at.py
  django_email_learning/migrations/0035_enrollment_related_names.py
  django_email_learning/migrations/0036_course_send_certificate.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

feat: add Newsletter and NewsletterSubscriber models with feature flag
  django_email_learning/migrations/0002_newsletter_models.py
  django_email_learning/models/__init__.py
  django_email_learning/models/newsletters.py
  django_email_learning/platform/features.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: add Newsletter and NewsletterSubscriber models with feature flag (#605)
  django_email_learning/migrations/0002_newsletter_models.py
  django_email_learning/models/__init__.py
  django_email_learning/models/newsletters.py
  django_email_learning/platform/features.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: token-based newsletter unsubscribe endpoint and email templates
  django_email_learning/public/newsletter_views.py
  django_email_learning/public/urls.py
  django_email_learning/templates/emails/newsletter_sendout.html
  django_email_learning/templates/newsletters/unsubscribe_invalid.html
  django_email_learning/templates/newsletters/unsubscribed.html
  tests/public/test_views/test_newsletter_unsubscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: add subject title to newsletter sendout email template
  django_email_learning/templates/emails/newsletter_sendout.html
Due: none

Add template to email template preview
  django_service/views.py
Due: mypy, django-check, pytest-with-coverage

feat: token-based newsletter unsubscribe endpoint (#606)
  django_email_learning/public/newsletter_views.py
  django_email_learning/public/urls.py
  django_email_learning/templates/emails/newsletter_sendout.html
  django_email_learning/templates/newsletters/unsubscribe_invalid.html
  django_email_learning/templates/newsletters/unsubscribed.html
  django_service/views.py
  tests/public/test_views/test_newsletter_unsubscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: newsletter list and create on organization detail page
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  frontend/platform/organization/Organization.jsx
  frontend/platform/organization/components/NewsletterForm.jsx
  tests/platform/api/test_views/test_newsletter_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: gate newsletters feature behind NEWSLETTERS setting
  django_email_learning/platform/views.py
  django_service/settings.py
  tests/platform/test_views/test_base_platform_view_context.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor: convert organization page to tabbed layout (Members / Newsletters)
  django_email_learning/platform/views.py
  frontend/platform/organization/Organization.jsx
  tests/platform/test_views/test_base_platform_view_context.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: add delete newsletter with confirmation dialog
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  frontend/platform/organization/Organization.jsx
  frontend/platform/organization/components/DeleteNewsletterDialog.jsx
  tests/platform/api/test_views/test_newsletter_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: gate newsletter create/delete UI on isOrganizationAdmin
  frontend/platform/organization/Organization.jsx
Due: none

feat: newsletter list and create on organization detail page (#607)
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/views.py
  django_service/settings.py
  frontend/platform/organization/Organization.jsx
  frontend/platform/organization/components/DeleteNewsletterDialog.jsx
  frontend/platform/organization/components/NewsletterForm.jsx
  tests/platform/api/test_views/test_newsletter_view.py
  tests/platform/test_views/test_base_platform_view_context.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #597 add newsletters sendouts
  django_email_learning/migrations/0003_sendout_model.py
  django_email_learning/models/__init__.py
  django_email_learning/models/newsletters.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/urls.py
  django_email_learning/platform/views.py
  django_email_learning/templates/platform/newsletter.html
  django_service/admin.py
  django_service/settings.py
  frontend/platform/course/Course.jsx
  frontend/platform/newsletter/Newsletter.jsx
  frontend/platform/newsletter/index.html
  frontend/platform/organization/Organization.jsx
  frontend/src/apiClient.js
  frontend/src/components/ContentEditor.jsx
  frontend/src/components/styles.scss
  frontend/vite.config.js
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #597 add newsletters sendouts (#608)
  django_email_learning/migrations/0003_sendout_model.py
  django_email_learning/models/__init__.py
  django_email_learning/models/newsletters.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/urls.py
  django_email_learning/platform/views.py
  django_email_learning/templates/platform/newsletter.html
  django_service/admin.py
  django_service/settings.py
  frontend/platform/course/Course.jsx
  frontend/platform/newsletter/Newsletter.jsx
  frontend/platform/newsletter/index.html
  frontend/platform/organization/Organization.jsx
  frontend/src/apiClient.js
  frontend/src/components/ContentEditor.jsx
  frontend/src/components/styles.scss
  frontend/vite.config.js
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #609 add create_newsletter platform feature flag
  django_email_learning/platform/features.py
  django_email_learning/platform/views.py
  frontend/platform/organization/Organization.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #609 add create_newsletter platform feature flag (#610)
  django_email_learning/platform/features.py
  django_email_learning/platform/views.py
  frontend/platform/organization/Organization.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #599 public newsletter subscription form on org page
  django_email_learning/public/api/serializers.py
  django_email_learning/public/api/urls.py
  django_email_learning/public/api/views.py
  django_email_learning/public/views.py
  frontend/public/components/NewsletterSubscriptionForm.jsx
  frontend/public/organization/Organization.jsx
  tests/public/api/test_newsletter_subscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: send CSRF token in newsletter subscribe request
  django_service/admin.py
  frontend/public/components/NewsletterSubscriptionForm.jsx
Due: mypy, django-check, pytest-with-coverage

feat: #599 public newsletter subscription form on org page (#611)
  django_email_learning/public/api/serializers.py
  django_email_learning/public/api/urls.py
  django_email_learning/public/api/views.py
  django_email_learning/public/views.py
  django_service/admin.py
  frontend/public/components/NewsletterSubscriptionForm.jsx
  frontend/public/organization/Organization.jsx
  tests/public/api/test_newsletter_subscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #598 subscriber management — list, delete, CSV export
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/urls.py
  django_email_learning/platform/views.py
  django_email_learning/templates/platform/newsletter_subscribers.html
  frontend/platform/newsletter_subscribers/NewsletterSubscribers.jsx
  frontend/platform/newsletter_subscribers/index.html
Due: bandit, mypy, django-check, pytest-with-coverage

feat: add subscribers link on newsletter page and register vite entry
  frontend/platform/newsletter/Newsletter.jsx
  frontend/vite.config.js
Due: none

fix: add newsletter_subscribers locale key to NewsletterDetailView
  django_email_learning/platform/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: add horizontal padding to subscribers table
  frontend/platform/newsletter_subscribers/NewsletterSubscribers.jsx
Due: none

feat: #598 subscriber management (#612)
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/api/urls.py
  django_email_learning/platform/api/views.py
  django_email_learning/platform/urls.py
  django_email_learning/platform/views.py
  django_email_learning/templates/platform/newsletter_subscribers.html
  frontend/platform/newsletter/Newsletter.jsx
  frontend/platform/newsletter_subscribers/NewsletterSubscribers.jsx
  frontend/platform/newsletter_subscribers/index.html
  frontend/vite.config.js
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #613 enforce max subscribers per newsletter
  django_email_learning/public/api/views.py
  django_email_learning/public/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

docs: document NEWSLETTERS config keys (FROM_EMAIL, MAX_SUBSCRIBER_PER_NEWSLETTER)
  docs/source/installation.rst
Due: none

feat: #613 enforce max subscribers per newsletter (#614)
  django_email_learning/public/api/views.py
  django_email_learning/public/views.py
  docs/source/installation.rst
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #600 link course to newsletter on course creation/edit
  django_email_learning/migrations/0004_course_newsletter_fk.py
  django_email_learning/models/courses.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/courses/components/AddNewsletterForm.jsx
  frontend/platform/courses/components/CourseForm.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #600 link course to newsletter on course creation/edit (#615)
  django_email_learning/migrations/0004_course_newsletter_fk.py
  django_email_learning/models/courses.py
  django_email_learning/platform/api/serializers.py
  django_email_learning/platform/views.py
  frontend/platform/courses/components/AddNewsletterForm.jsx
  frontend/platform/courses/components/CourseForm.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #601 auto-subscribe on course enrollment
  django_email_learning/public/api/serializers.py
  django_email_learning/public/api/views.py
  django_email_learning/public/serializers.py
  django_email_learning/public/views.py
  django_email_learning/services/command_models/verify_enrollment_command.py
  django_email_learning/templates/emails/enrollment_verified.html
  django_email_learning/templates/emails/enrollment_verified.txt
  frontend/public/components/EnrollmentForm.jsx
  frontend/public/organization/Organization.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

Path conditions:
  bandit: any of: \.py$, but not: ^(tests/|migrations/|django_service)
  mypy: any of: \.py$, but not: ^(tests/|migrations/)
  django-check: any of: \.py$
  pytest-with-coverage: any of: \.py$
