Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        args: [--configfile, pyproject.toml]
        exclude: ^(tests/|migrations/|django_service)
        pass_filenames: true
        stages: [pre-push]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        args: [--config-file=pyproject.toml]
        exclude: ^(tests/|migrations/)
        require_serial: true

      - id: django-check
        name: Django Check
        entry: python manage.py check
        language: system
        pass_filenames: false
        files: \.py$

      - id: pytest-with-coverage
        name: Tests with Coverage
        entry: pytest
        language: system
        args: [--cov=django_email_learning, --cov-fail-under=80, tests/]
        pass_filenames: false
        files: \.py$
        stages: [pre-push]

bump version to 2.12.2 and update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Organization brand color
  .claude/launch.json
  django_email_learning/migrations/0013_organization_brand_color.py
  django_email_learning/models/organizations.py
  django_email_learning/platform/api/serializers/organisations.py
  django_email_learning/platform/api/views/organisations.py
  django_email_learning/platform/views/base.py
  django_email_learning/platform/views/organisations.py
  django_email_learning/public/serializers.py
  django_email_learning/public/views.py
  frontend/platform/course/Course.jsx
  frontend/platform/newsletter/Newsletter.jsx
  frontend/platform/organization/Organization.jsx
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/public/components/EnrollmentForm.jsx
  frontend/public/components/NewsletterSubscriptionForm.jsx
  frontend/public/course/Course.jsx
  frontend/public/organization/Organization.jsx
  frontend/src/test/platform/Course.test.jsx
  frontend/src/test/platform/Newsletter.test.jsx
  frontend/src/test/utils.test.js
  frontend/src/utils.js
  tests/platform/api/test_views/test_organizations_view.py
  tests/platform/test_views/test_base_platform_view_context.py
  tests/public/test_views/test_public_course_view.py
  tests/public/test_views/test_public_organization_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Organization brand color (#770)
  .claude/launch.json
  django_email_learning/migrations/0013_organization_brand_color.py
  django_email_learning/models/organizations.py
  django_email_learning/platform/api/serializers/organisations.py
  django_email_learning/platform/api/views/organisations.py
  django_email_learning/platform/views/base.py
  django_email_learning/platform/views/organisations.py
  django_email_learning/public/serializers.py
  django_email_learning/public/views.py
  frontend/platform/course/Course.jsx
  frontend/platform/newsletter/Newsletter.jsx
  frontend/platform/organization/Organization.jsx
  frontend/platform/organizations/Organizations.jsx
  frontend/platform/organizations/components/OrganizationForm.jsx
  frontend/public/components/EnrollmentForm.jsx
  frontend/public/components/NewsletterSubscriptionForm.jsx
  frontend/public/course/Course.jsx
  frontend/public/organization/Organization.jsx
  frontend/src/test/platform/Course.test.jsx
  frontend/src/test/platform/Newsletter.test.jsx
  frontend/src/test/utils.test.js
  frontend/src/utils.js
  tests/platform/api/test_views/test_organizations_view.py
  tests/platform/test_views/test_base_platform_view_context.py
  tests/public/test_views/test_public_course_view.py
  tests/public/test_views/test_public_organization_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

bump version to 2.13.0 and update the changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Add composite index on JobExecution job_name and started_at
  django_email_learning/migrations/0014_jobexecution_jobexecution_name_started_idx.py
  django_email_learning/models/jobs.py
Due: bandit, mypy, django-check, pytest-with-coverage

bump version to 2.13.1 and update the changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Fix embed widget rendering an image when course_image is blank
  django_email_learning/public/embed_script.py
  frontend/src/test/public/embedScript.test.js
  tests/public/test_views/test_embed_script_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

bump version to 2.13.2 and update the changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Restrict job status endpoint to platform admins
  django_email_learning/platform/api/views/misc.py
  frontend/platform/dashboard/Dashboard.jsx
  frontend/src/components/MenuBar.jsx
  frontend/src/test/MenuBar.test.jsx
  frontend/src/test/platform/Dashboard.test.jsx
  tests/platform/api/test_views/test_job_status_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Stop emitting raw source into dist and fix Makefile target names
  Makefile
  frontend/vite.config.js
Due: none

bump version to 2.14.0 and update the changelog
  CHANGELOG.md
  pyproject.toml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/pr-check.yml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions (#776)
  .github/workflows/pr-check.yml
Due: none

Potential fix for code scanning alert no. 57: DOM text reinterpreted as HTML
  frontend/src/components/MenuBar.jsx
Due: none

Sanitize all dangerouslySetInnerHTML sinks with DOMPurify
  frontend/package-lock.json
  frontend/package.json
  frontend/platform/course/Course.jsx
  frontend/platform/courses/Courses.jsx
  frontend/platform/dashboard/Dashboard.jsx
  frontend/platform/newsletter/Newsletter.jsx
  frontend/public/components/EnrollmentForm.jsx
  frontend/src/components/MenuBar.jsx
  frontend/src/sanitizeHtml.js
  frontend/src/test/sanitizeHtml.test.js
Due: none

Sanitize all dangerouslySetInnerHTML sinks with DOMPurify (#778)
  CHANGELOG.md
  Makefile
  django_email_learning/platform/api/views/misc.py
  frontend/package-lock.json
  frontend/package.json
  frontend/platform/course/Course.jsx
  frontend/platform/courses/Courses.jsx
  frontend/platform/dashboard/Dashboard.jsx
  frontend/platform/newsletter/Newsletter.jsx
  frontend/public/components/EnrollmentForm.jsx
  frontend/src/components/MenuBar.jsx
  frontend/src/sanitizeHtml.js
  frontend/src/test/MenuBar.test.jsx
  frontend/src/test/platform/Dashboard.test.jsx
  frontend/src/test/sanitizeHtml.test.js
  frontend/vite.config.js
  pyproject.toml
  tests/platform/api/test_views/test_job_status_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Stop returning exception detail to API clients
  django_email_learning/error_responses.py
  django_email_learning/jobs/api/views.py
  django_email_learning/oauth_integrations/views.py
  django_email_learning/platform/api/views/assignments.py
  django_email_learning/platform/api/views/courses.py
  django_email_learning/platform/api/views/misc.py
  django_email_learning/platform/api/views/oauth.py
  django_email_learning/platform/api/views/organisations.py
  tests/jobs/api/test_views/test_check_imap_job_view.py
  tests/jobs/api/test_views/test_cleanup_job_executions_view.py
  tests/jobs/api/test_views/test_deactivate_inactive_enrollments_job_view.py
  tests/jobs/api/test_views/test_deliver_contents_job_view.py
  tests/jobs/api/test_views/test_send_newsletters_job_view.py
  tests/jobs/api/test_views/test_send_reminders_job_view.py
  tests/oauth_integrations/test_views.py
  tests/test_error_responses.py
  uv.lock
Due: bandit, mypy, django-check, pytest-with-coverage

Stop returning exception detail to API clients (#779)
  django_email_learning/error_responses.py
  django_email_learning/jobs/api/views.py
  django_email_learning/oauth_integrations/views.py
  django_email_learning/platform/api/views/assignments.py
  django_email_learning/platform/api/views/courses.py
  django_email_learning/platform/api/views/misc.py
  django_email_learning/platform/api/views/oauth.py
  django_email_learning/platform/api/views/organisations.py
  tests/jobs/api/test_views/test_check_imap_job_view.py
  tests/jobs/api/test_views/test_cleanup_job_executions_view.py
  tests/jobs/api/test_views/test_deactivate_inactive_enrollments_job_view.py
  tests/jobs/api/test_views/test_deliver_contents_job_view.py
  tests/jobs/api/test_views/test_send_newsletters_job_view.py
  tests/jobs/api/test_views/test_send_reminders_job_view.py
  tests/oauth_integrations/test_views.py
  tests/test_error_responses.py
  uv.lock
Due: bandit, mypy, django-check, pytest-with-coverage

Potential fix for code scanning alert no. 3: Incomplete URL substring sanitization
  tests/oauth_integrations/test_views.py
Due: django-check, pytest-with-coverage

Potential fix for code scanning alert no. 3: Incomplete URL substring sanitization (#780)
  tests/oauth_integrations/test_views.py
Due: django-check, pytest-with-coverage

Fix ESLint 10 flat config and gate commits on lint
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/platform/course/components/QuestionForm.jsx
  frontend/src/test/Base.test.jsx
  frontend/src/test/BottomDrawer.test.jsx
  frontend/src/test/RequiredTextField.test.jsx
  frontend/src/test/platform/Courses.test.jsx
  frontend/src/test/platform/QuestionForm.test.jsx
  frontend/src/test/platform/UserForm.test.jsx
  frontend/src/test/utils.test.js
Due: none

Release 2.14.1
  .github/workflows/pr-check.yml
  CHANGELOG.md
  frontend/platform/analytics/Analytics.jsx
  frontend/public/course/Course.jsx
  frontend/src/render-callback.jsx
  pyproject.toml
Due: none

Potential fix for pull request finding 'CodeQL / DOM text reinterpreted as HTML'
  frontend/platform/analytics/Analytics.jsx
Due: none

Potential fix for pull request finding 'CodeQL / DOM text reinterpreted as HTML'
  frontend/public/course/Course.jsx
Due: none

Information exposure through exceptions
  django_email_learning/personalised/api/views.py
  django_email_learning/platform/api/views/learners.py
  tests/personalised/api/test_views/test_assignment_file_upload.py
  tests/personalised/api/test_views/test_assignment_submission.py
  tests/personalised/api/test_views/test_quiz_submission.py
  tests/personalised/api/test_views/test_submit_certificate_form.py
Due: bandit, mypy, django-check, pytest-with-coverage

Potential fix for code scanning alert no. 28: Information exposure through an exception
  django_email_learning/jobs/api/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

Information exposure through exceptions
  django_email_learning/public/api/views.py
  tests/jobs/api/test_views/test_job_execution_status_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

CVE-2026-59884 fix
  poetry.lock
Due: none

remove uv.lock
  .gitignore
  uv.lock
Due: none

Honor enrollment-time newsletter opt-in during verification (#786)
  django_email_learning/services/command_models/verify_enrollment_command.py
  tests/services/command_models/test_verify_enrollment_command.py
Due: bandit, mypy, django-check, pytest-with-coverage

Harden course unsubscribe confirmation: move mutation to CSRF-protected POST (#787)
  django_email_learning/personalised/views.py
  frontend/personalised/command_result/CommandResult.jsx
  tests/personalised/test_views/test_unsubscribe_view.py
  tests/services/command_models/test_unsubscribe_command.py
Due: bandit, mypy, django-check, pytest-with-coverage

Make newsletter unsubscribe RFC 8058-safe: non-mutating GET + one-click headers (#788)
  django_email_learning/jobs/send_newsletters_job.py
  django_email_learning/public/newsletter_views.py
  django_email_learning/templates/newsletters/unsubscribe_confirm.html
  tests/jobs/test_send_newsletters_job.py
  tests/public/test_views/test_newsletter_unsubscribe_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

Add organization public status to the dashboard
  django_email_learning/platform/views/dashboard.py
  frontend/package-lock.json
  frontend/platform/dashboard/Dashboard.jsx
  frontend/src/test/platform/Dashboard.test.jsx
Due: bandit, mypy, django-check, pytest-with-coverage

Release 2.16.0
  CHANGELOG.md
  pyproject.toml
Due: none
