Repository AvaCodeSolutions/django-email-learning: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, mypy, django-check, pytest-with-coverage

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  pass_filenames: true
  stages:
  - pre-push

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml
  require_serial: true

django-check:
  name: Django Check
  entry: python manage.py check
  language: system
  pass_filenames: false

pytest-with-coverage:
  name: Tests with Coverage
  entry: pytest
  language: system
  args:
  - --cov=django_email_learning
  - --cov-fail-under=80
  - tests/
  pass_filenames: false
  stages:
  - pre-push

fix: #445 optimise db calls in group enrollment view
  django_email_learning/platform/api/views.py
Due: bandit, mypy, django-check, pytest-with-coverage

Only run tests if code change is commited
  .github/workflows/pr-check.yml
Due: none

fix: #436 optimise enrollment save
  django_email_learning/models/enrollments.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update pr-check workflow
  .github/workflows/pr-check.yml
Due: none

fix: fix reminder_sent event frontend to use correct field for quiz title
  frontend/platform/learners/Learners.jsx
Due: none

Update version
  pyproject.toml
Due: none

feat: #420 add learner info in the assignment submmisions section
  django_email_learning/models/organizations.py
  django_email_learning/platform/api/serializers.py
  frontend/platform/course/components/SubmittedAssignmentsSection.jsx
  tests/platform/api/test_views/test_assignment_submission_detail_view.py
  tests/platform/api/test_views/test_submission_review.py
  tests/platform/api/test_views/test_submitted_assignments_view.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: 435 refactor Course.enrollments_count to use a single aggregation query
  django_email_learning/models/courses.py
Due: bandit, mypy, django-check, pytest-with-coverage

feat: #419 send feedback email when a review is submitted for an assignment
  django_email_learning/models/deliveries.py
  django_email_learning/platform/api/views.py
  django_email_learning/ports/metric_recorder_protocol.py
  django_email_learning/services/command_models/send_assignment_review_command.py
  django_email_learning/services/defaults/log_based_metric_recorder.py
  django_email_learning/services/metrics_service.py
  django_email_learning/templates/emails/assignment_review.html
  django_email_learning/templates/emails/assignment_review.txt
  django_service/views.py
  tests/platform/api/test_views/test_submission_review.py
  tests/services/command_models/test_send_assignment_review_command.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update documents screenshots
  docs/images/add-course-form.png
  docs/images/add-quiz-form.png
  docs/images/course-contents-list.png
  docs/images/courses-table.png
  docs/images/edit-organization.png
  docs/images/learner-progress.png
  docs/images/organizations.png
Due: none

Switch to Furo for docs
  docs/requirements.txt
  docs/source/conf.py
  docs/source/css/custom.css
Due: bandit, mypy, django-check, pytest-with-coverage

Fix logo in docs
  docs/source/conf.py
Due: bandit, mypy, django-check, pytest-with-coverage

Update docs management commands
  README.md
  docs/source/_static/logo.png
  docs/source/platform/courses.rst
  docs/source/technical/management-commands.rst
Due: none

refactor: #444 singelton email and metric services
  django_email_learning/apps.py
  django_email_learning/jobs/api/views.py
  django_email_learning/jobs/check_imap_job.py
  django_email_learning/jobs/deactivate_inactive_enrollments_job.py
  django_email_learning/jobs/deliver_contents_job.py
  django_email_learning/jobs/send_reminders_job.py
  django_email_learning/management/commands/check_imap_connections.py
  django_email_learning/management/commands/deactivate_inactive_enrollments.py
  django_email_learning/management/commands/deliver_contents.py
  django_email_learning/management/commands/send_reminders.py
  django_email_learning/models/courses.py
  django_email_learning/models/enrollments.py
  django_email_learning/personalised/api/views.py
  django_email_learning/services/command_models/enroll_command.py
  django_email_learning/services/command_models/send_assignment_command.py
  django_email_learning/services/command_models/send_assignment_reminder_command.py
  django_email_learning/services/command_models/send_assignment_review_command.py
  django_email_learning/services/command_models/send_lesson_command.py
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/services/command_models/send_quiz_reminder_command.py
  django_email_learning/services/command_models/unsubscribe_command.py
  django_email_learning/services/command_models/verify_enrollment_command.py
  django_email_learning/services/email_sender_service.py
  django_email_learning/services/metrics_service.py
  tests/jobs/test_deliver_content_jobs.py
  tests/jobs/test_send_reminders_job.py
  tests/services/test_email_sender_service.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #434 remove hardcoded secret key from the development service
  django_service/settings.py
Due: mypy, django-check, pytest-with-coverage

#433 limit CORS_ALLOWED_ORIGINS for the development service
  django_service/settings.py
Due: mypy, django-check, pytest-with-coverage

update version
  pyproject.toml
Due: none

Update version - squashed migration files
  django_email_learning/migrations/0001_initial_squashed_0032_alter_assignmentsubmission_file_submission.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

chore(migrations): remove pre-squash files, finalize squashed set
  django_email_learning/migrations/0001_initial.py
  django_email_learning/migrations/0002_course_language.py
  django_email_learning/migrations/0003_inboxfolder.py
  django_email_learning/migrations/0004_alter_inboxfolder_imap_connection.py
  django_email_learning/migrations/0005_course_target_audience_externalreference.py
  django_email_learning/migrations/0006_organization_linkedin_page_organization_website_and_more.py
  django_email_learning/migrations/0007_course_is_public.py
  django_email_learning/migrations/0008_organization_is_public.py
  django_email_learning/migrations/0009_quiz_limited_attempts.py
  django_email_learning/migrations/0010_quiz_is_blocking.py
  django_email_learning/migrations/0011_alter_quiz_deadline_days.py
  django_email_learning/migrations/0012_contentdelivery_remind_at_and_more.py
  django_email_learning/migrations/0013_contentdelivery_reminder_state.py
  django_email_learning/migrations/0014_learner_photo_alter_jobexecution_job_name.py
  django_email_learning/migrations/0015_jobexecution_running_uniqueness.py
  django_email_learning/migrations/0016_alter_jobexecution_job_name_and_more.py
  django_email_learning/migrations/0017_alter_organizationuser_role.py
  django_email_learning/migrations/0018_assignment_alter_coursecontent_type_and_more.py
  django_email_learning/migrations/0019_alter_assignment_requires_file_submission_and_more.py
  django_email_learning/migrations/0020_assignment_reminder_interval_days.py
  django_email_learning/migrations/0021_courseinstructor.py
  django_email_learning/migrations/0022_organizationuser_display_name_organizationuser_photo.py
  django_email_learning/migrations/0023_assignmentsubmission_assignmentfeedback.py
  django_email_learning/migrations/0024_alter_assignmentsubmission_delivery.py
  django_email_learning/migrations/0025_alter_assignmentsubmission_status.py
  django_email_learning/migrations/0026_alter_assignmentsubmission_delivery.py
  django_email_learning/migrations/0027_alter_assignmentfeedback_submission.py
  django_email_learning/migrations/0028_rename_comments_assignmentfeedback_comment.py
  django_email_learning/migrations/0029_alter_assignmentsubmission_file_submission.py
  django_email_learning/migrations/0030_organization_created_at_organization_updated_at_and_more.py
  django_email_learning/migrations/0031_alter_organizationuser_unique_together_and_more.py
  django_email_learning/migrations/0032_alter_assignmentsubmission_file_submission.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

fix instructor avatar url
  django_email_learning/services/command_models/send_assignment_review_command.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

Removing mentions of early stage, preparing for release version 1
  CONTRIBUTING.md
  README.md
  docs/source/installation.rst
  docs/source/introduction.rst
Due: none

add secret key for pytest
  django_email_learning/models/enrollments.py
  poetry.lock
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

Star CTA in README file
  README.md
Due: none

Remove open-collective link
  .github/FUNDING.yml
  README.md
  django_service/templates/django_service/home.html
  docs/source/introduction.rst
Due: none

feat: #152 Add AMP handling for quizzes
  django_email_learning/personalised/api/urls.py
  django_email_learning/personalised/api/views.py
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/templates/emails/base_amp.html
  django_email_learning/templates/emails/quiz_amp.html
  django_service/settings.py
  docs/source/installation.rst
  tests/personalised/api/test_views/test_quiz_submission.py
  tests/services/command_models/test_send_quiz_command.py
Due: bandit, mypy, django-check, pytest-with-coverage

refactor(logging): replace print() with logger in production code #489
  django_email_learning/jobs/check_imap_job.py
  django_email_learning/oauth_integrations/group_enrollment/google_group_enrollment_handler.py
  django_email_learning/oauth_integrations/views.py
  django_email_learning/services/defaults/database_reminder_queue.py
  django_email_learning/services/defaults/imap_interface.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: add missing __init__.py files to tests/ai and tests/personalised
  tests/ai/__init__.py
  tests/ai/test_views/__init__.py
  tests/personalised/__init__.py
  tests/personalised/api/__init__.py
  tests/personalised/api/test_serializers/__init__.py
  tests/personalised/api/test_views/__init__.py
  tests/personalised/test_views/__init__.py
Due: django-check, pytest-with-coverage

Fix commands package init filename
  django_email_learning/management/commands/__init__.py
  django_email_learning/management/commands/__init__py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #510 add tests for management commands
  tests/management/__init__.py
  tests/management/commands/__init__.py
  tests/management/commands/test_check_imap_connections_command.py
  tests/management/commands/test_cleanup_job_executions_command.py
  tests/management/commands/test_deactivate_inactive_enrollments_command.py
  tests/management/commands/test_deliver_contents_command.py
  tests/management/commands/test_send_reminders_command.py
Due: django-check, pytest-with-coverage

style: apply ruff formatting
  django_email_learning/services/defaults/database_reminder_queue.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: rename management/commands/__init__py to __init__.py
  django_email_learning/management/commands/__init__.py
  django_email_learning/management/commands/__init__py
Due: bandit, mypy, django-check, pytest-with-coverage

docs: add missing JWT_SECRET_KEY to README settings snippet
  README.md
Due: none

fix: #504 fix amp template style and __amp_source_origin handling in the api view
  django_email_learning/personalised/api/views.py
  django_email_learning/templates/emails/quiz_amp.html
  django_service/settings.py
  tests/personalised/api/test_views/test_quiz_submission.py
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #504 change status codes for unexpected errors and add logging
  django_email_learning/personalised/api/views.py
  django_email_learning/templates/emails/quiz_amp.html
  django_service/settings.py
  pyproject.toml
Due: bandit, mypy, django-check, pytest-with-coverage

fix: #504 filter questions for amp emails
  django_email_learning/services/command_models/send_quiz_command.py
  django_email_learning/templates/emails/quiz_amp.html
Due: bandit, mypy, django-check, pytest-with-coverage

fix changed status code in tests
  tests/personalised/api/test_views/test_submit_certificate_form.py
Due: django-check, pytest-with-coverage

Path conditions:
  bandit: any of: \.py$, but not: ^(tests/|migrations/|django_service)
  mypy: any of: \.py$, but not: ^(tests/|migrations/)
  django-check: any of: \.py$
  pytest-with-coverage: any of: \.py$
